<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Order of the Day</title>
</head>

<body class="bg-cyan-950 bg-gradient-to-r from-amber-500">
  <div class="flex-column">
    <header class="justify-space-around box-border display-flex text-center p-2">
      <h1 class = "text-8xl p-5" href="/">🕘Order of the Day💵
      </h1>
      <body>
        {{#if logged_in}}
        <a href="/task">My Tasks</a> |
        <button class="" id="logout">Logout</button>
        {{else}}
        {{{ body }}}
        {{/if}}
      </body>
    </header>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>

</html>
