<body class="bg-cyan-950 bg-gradient-to-r from-amber-500">
<header class="justify-space-around box-border display-flex text-center p-2"></header>
<div class ="h-screen overflow-hidden flex flex-col items-center justify-center m-0 space-y-10">
    <div class ="col-md-6 bg-gradient-to-r from-amber-600 to-amber-300 lg:w-6/12 md:7/12 w-8/12 shadow-3xl rounded-xl space-x-2">
        <a class = "flex items-center justify-center text-lg mb-6 md:mb-8 font-bold" href="login">LOGIN</a>
    </div>
    <div class = "col-md-6 bg-gradient-to-r from-sky-400 to-indigo-600 lg:w-6/12 md:7/12 w-8/12 shadow-3xl rounded-xl">
        <a class = "flex items-center justify-center text-lg mb-6 md:mb-8 font-bold" href="signup">SIGNUP</a>
    </div>
</div>
</body>

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="./assets/css/style.css" />

<!-- <div>
    <a href="login">LOGIN</a>
</div>
<div>
    <a href="signup">SIGNUP</a>
</div> -->